.tips {
    padding: 50px 20px;
  }
  
  .tips h2 {
    color: #00ff00; 
    text-align: center;
    margin-bottom: 20px;
  }
  
  .tips-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .tip-card {
    background: #1e1e1e2e;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    flex: 1 1 100px; /* Responsivo */
    margin: 10px;
    transition: background 0.3s ease;
    cursor: pointer;
  }
  
  .tip-card:hover {
    background: #1e1e1e80; 
  }
  
  .tip-card h3 {
    color: #00ff00;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .tips-container {
      flex-direction: column;
    }
  }
  